<div class="col-lg-12"><hr></div> <!-- gray separator line -->
  <div *ngIf='selected' class="algorithmsAll" class="col-lg-12">
    <h1>ALGORITHM </h1>
    <h3>Sample Questions</h3>
    Check these questions out and track your progress on how you do:
    <div id="algorithmDiv">
      <ul>
          <li>{{selected.title}} &#9658; Difficulty: {{selected.rating}}</li>
          <li>{{selected.description}}</li>
          <pre>{{selected.sample}}</pre></ul>
      <ul *ngFor="let track of trackers">
          <li>{{track.content}}</li>
          <li>{{track.createdAt}}</li>
          <input type="submit" name="button" value="Edit" (click)="updateTracker(track, selected.id, track.id)">
          <input type="submit" name="button" value="Delete" (click)="deleteTracker(selected.id, track.id)"></ul></div></div>

          <!-- <a [routerLink]="['/algorithms/trackers/', 'algo.id']">Trackers</a> -->
          <!-- <a [routerLink]="['/algorithms/solutions/', 'algo.id']">Solutions</a> -->

<!-- end of algorithm list  -->
<!-- displayAlgorithm -->
    <div *ngIf='selected' class='algorithmDisplay'>
      <!-- <label for="algorithmId"><span>Id {{selected.id}}</span></label> -->
        <ul>
          <!-- <li>{{selected.title}} &#9658; Difficulty: {{selected.rating}}</li>
          <li>{{selected.description}}</li>
          <pre>{{selected.sample}}</pre> -->
          <input type="submit" name="button" value="Return" (click)="selected=null"></ul></div>
<!-- end of displayAlgorithm -->
