<div class="col-lg-12"><hr></div> <!-- gray separator line -->
  <div *ngIf='selected' class="algorithmsAll" class="col-lg-12">
    <h1>ALGORITHM </h1>
    <h3>Track This Algorithm</h3>
    Add, Update, or Delete your progress:
    <div id="algorithmDiv">
      <ul>
          <li>{{selected.title}} &#9658; Difficulty: {{selected.rating}}</li>
          <li>{{selected.description}}</li>
          <pre>{{selected.sample}}</pre>
          <li><input type="submit" name="button" value="Add Tracker" *ngIf="!selectedT" (click)="showDiv.addTracker = !showDiv.addTracker; showDiv.deleteTracker = false; showDiv.editTracker = false"></li></ul>
          <!-- end algorithm + trackers list  -->
          <!-- add tracker form -->
    <div *ngIf='showDiv.addTracker'>
      <form class='addTrackerForm'>
        <textarea name="task" [(ngModel)]="newTracker.content" placeholder="Enter new . . ."></textarea>
        <input type='button' value='confirm' (click)='[createTracker(newTracker, selected.id), showDiv.addTracker = !showDiv.addTracker]'><br><br>
        <input type='button' value='cancel' (click)='selected = null'>
      </form>
    </div>
    <div *ngFor="let track of trackers">
      <div *ngIf='trackers && !selectedT'>
        <ul>
          <li>{{track.content}}</li>
          <li>{{track.createdAt}}</li>
          <input type="submit" name="button" value="Edit" (click)="showDiv.editTracker = !showDiv.editTracker; showDiv.deleteTracker = false; showDiv.addTracker = false; displayTracker(track)">
          <input type="submit" name="button" value="Delete" (click)="showDiv.editTracker = false; showDiv.deleteTracker = !showDiv.deleteTracker; showDiv.addTracker = false"></ul></div></div></div>
          <!-- trackers edit + delete -->
          <!-- <div *ngIf='showDiv.editTracker && selectedT'> -->
            <!-- display only if selectedT has one tracker in it to edit and delete -->
            <!-- <form class='editform'>
              <span style="font-size: 130%;">Content:</span><textarea name="content" [(ngModel)]="selectedT.content" placeholder="track.content"></textarea>
              <input type='button' value='Save Edits' (click)='[updateTracker(track, selected.id, track.id), showDiv.editTracker = !showDiv.editTracker]'><br><br>
              <input type='button' value='Cancel' (click)='selectedT = null'>
            </form>
          </div>
          <div *ngIf='showDiv.deleteTracker'>
            <form class='editform'>
             <h3 style='color:red'>Are you sure?</h3>
              <input type='button' value='Delete' (click)='[destroyTracker(selected.id, track.id), showDiv.deleteTracker = !showDiv.deleteTracker]'><br><br>
              <input type='button' value='Cancel' (click)='selectedT = null'></form></div></div></div></div> -->
          <!-- end trackers edit + delete -->
<div *ngIf="selectedT">
          <div *ngIf='showDiv.editTracker && selectedT'>
          <form class='editform'>
            <span style="font-size: 130%;">Content:</span><textarea name="content" [(ngModel)]="selectedT.content" placeholder="track.content"></textarea>
            <input type='button' value='Save Edits' (click)='[updateTracker(selectedT, selected.id, selectedT.id), showDiv.editTracker = !showDiv.editTracker]'><br><br>
            <input type='button' value='Cancel' (click)='selectedT = null'>
          </form>
        </div>
        <div *ngIf='showDiv.deleteTracker'>
          <form class='editform'>
           <h3 style='color:red'>Are you sure?</h3>
            <input type='button' value='Delete' (click)='[destroyTracker(selected.id, selectedT.id), showDiv.deleteTracker = !showDiv.deleteTracker]'><br><br>
            <input type='button' value='Cancel' (click)='selectedT = null'></form></div></div></div>
