<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>More Practice</title>
  <meta name="description" content="Roxy">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<div id="side-nav" class="sidenav">
<div class="sidenav-content">
  <!-- <form action=""> -->
    <div class="input-group md-form form-sm form-2 pl-0">
      <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="input-group-text red lighten-3" id="basic-text1">
          <span class="lnr lnr-magnifier"></span>
        </button>
      </div>
    </div>
  <!-- </form> -->
</div>

</div>
<div class="jumbotron d-flex align-items-center">
<div class="container" style="display: flex; justify-content:center; align-items:center;">
  <h1 class="display-1 mb-4">MO<br>RE.</h1>
</div>
<div class="rectangle-1"></div>
<div class="rectangle-2"></div>
<div class="rectangle-transparent-1"></div>
<div class="rectangle-transparent-2"></div>
<div class="circle-1"></div>
<div class="circle-2"></div>
<div class="circle-3"></div>
<div class="triangle triangle-1">
  <img src="assets/css/obj_triangle.png" alt="">
</div>
<div class="triangle triangle-2">
  <img src="assets/css/obj_triangle.png" alt="">
</div>
<div class="triangle triangle-3">
  <img src="assets/css/obj_triangle.png" alt="">
</div>
<div class="triangle triangle-4">
  <img src="assets/css/obj_triangle.png" alt="">
</div>
</div>


